/* Work Sans Font form Google Font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Shared style */
* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.btn-primary {
  padding: 20px 25px;
  border-radius: 8px;
  background: #ff900e;
  border: none;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

/* Header section style start */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* Header section style End */
/* Banner section style Start */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-top: 70px;
}
.banner-description {
  font-size: 1rem;
  color: #727272;
  font-weight: 400;
  margin: 30px 0;
}
.banner img {
    margin-top: 20px;
    width: 100%;
}
/* Banner section style End */



/* ================== Main Section ====================== */
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 70px;
}

/* ========== Teams Section style============== */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-contant{
    padding-left: 70px;
    padding-right: 70px;
}

.teams-contant-title{
    font-size: 2.813rem;
    margin-bottom: 1.5rem;
}

.teams-contant-title .quick-list{
    color: #727272;
    font-weight: 500;
}

.text-features{
    color: #ff900e;
    font-weight: 700;
}

.teams-contant-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}


/* Responsive quarey */

/* Mobile device */
@media screen and (max-width: 576px) {
    header{
        max-width: 100%;
        padding: 20px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-contant{
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 30px;
    }
}

/* Tablet and mediam device */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
}
